force-app/main/default/flows/Create_Tasks_on_Call_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_new_Task_to_the_collection</name>
        <label>Add new Task to the collection</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Call_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_new_Task</name>
        <label>Initialise new Task</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>newTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Call_Requests.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Loop_Call_Requests.DeliveryDayText__c} Delivery day - {!Loop_Call_Requests.CallDayText__c} Call day</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Call_Requests.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Call_Requests.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Task_to_the_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Call_day_equals_Today</name>
        <label>Call day equals Today</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Loop_Call_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Call_day_equals_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Call_Requests.CallDayText__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Call_Requests.Today__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_new_Task</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Bulkified version. Creates Task through batch on the related Call Request to create a Call list for Users.</description>
    <interviewLabel>Create Tasks on Call Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tasks on Call Request</label>
    <loops>
        <name>Loop_Call_Requests</name>
        <label>Loop Call Requests</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Call_Request_Records_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Call_day_equals_Today</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_tasks_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_tasks_0_0</name>
        <label>Create tasks</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <inputReference>taskList</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all Request Records where Call day = Today</description>
        <name>Get_Call_Request_Records_0</name>
        <label>Get Call Request Records</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Call_Requests</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Call_Requests__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Call_Request_Records_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B_Customer_Service_Team_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BuyerStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <filters>
            <field>BuyerStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <object>BuyerAccount</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-09-22</startDate>
            <startTime>05:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CallRequestCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Call_Requests__c</objectType>
    </variables>
    <variables>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Store Today&apos;s name</description>
        <name>TodayDayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
