force-app/main/default/flows/Default_Order_Creation_Notification_to_related_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DefaultOrderCreationNotification</name>
        <label>DefaultOrderCreationNotification</label>
        <locationX>690</locationX>
        <locationY>1360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DefaultOrderCreationEmailAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailAddressCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Manildra Default Order Creation Confirmation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Related_Contact_Email_Address</name>
        <label>Assign Related Contact Email Address</label>
        <locationX>672</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>EmailAddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EmailAddressCollection_Check</name>
        <label>EmailAddressCollection Check</label>
        <locationX>584</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>DefaultOrderCreationNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_EmailAddressColection_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAddressCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>If EmailAddressColection is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Confirmation_Contact</name>
        <label>If Order Confirmation Contact</label>
        <locationX>804</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmation_Order_is_Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOrderConfirmationContactRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Contact_Email_Address</targetReference>
            </connector>
            <label>Confirmation Order is Included</label>
        </rules>
    </decisions>
    <description>Send the notification to related contacts when the default order is created by system</description>
    <formulas>
        <name>IsOrderConfirmationContactRole</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES( {!Loop_Through_Contacts.Roles}, &quot;Order Confirmation&quot; )</expression>
    </formulas>
    <interviewLabel>Defau {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Default Order Creation Notification to related contacts</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>584</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Order_Confirmation_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EmailAddressCollection_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Order_Record</name>
        <label>Get Default Order Record</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DefaultOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account_Record</name>
        <label>Get Related Account Record</label>
        <locationX>584</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_Order_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>584</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Account_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Default_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DefaultOrderCreationEmailAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Loop_Through_Contacts.Contact.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Default Order created successfully.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click the link below to track your order .&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dev-manildragroup.cs5.force.com/s/OrderSummary/%7B!Get_Order_Summary_Record.Id%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://dev-manildragroup.cs5.force.com/s/OrderSummary/{!Get_Default_Order_Record.Id}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Id of Default order passed from process builder</description>
        <name>DefaultOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
