force-app/main/default/flows/Manildra_Activate_Draft_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Draft_Order_Summary</name>
        <label>Create Draft Order Summary</label>
        <locationX>255</locationX>
        <locationY>421</locationY>
        <actionName>createOrderSummary</actionName>
        <actionType>createOrderSummary</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOrderSummaryInput</name>
            <value>
                <elementReference>orderSummaryInput</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assisgn_Order_Id</name>
        <label>Assisgn Order Id</label>
        <locationX>256</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>orderSummaryInput.orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSummaryInput.orderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UNMANAGED</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Draft_Order_Summary</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>UNMANAGED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UNMANAGED</stringValue>
        </value>
    </constants>
    <interviewLabel>Manildra Draft {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manildra Activate Draft Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assisgn_Order_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderSummaryInput</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
