force-app/main/default/flows/Manildra_Order_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Checkout_Session_State</name>
        <label>Update Checkout Session State</label>
        <locationX>406</locationX>
        <locationY>492</locationY>
        <actionName>updateCheckoutSessionStateAction</actionName>
        <actionType>updateCheckoutSessionStateAction</actionType>
        <connector>
            <targetReference>Close_Cart</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nextState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Cart_Amount</name>
        <label>Assign Cart Amount</label>
        <locationX>925</locationX>
        <locationY>9</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newest_Cart.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Credit_Balance2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Balance2</name>
        <label>Assign Credit Balance</label>
        <locationX>1130</locationX>
        <locationY>11</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_Buyer_Record.CurrentBalance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Buyer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Payment_Type</name>
        <label>Payment Type</label>
        <locationX>757</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Order_Confirmation_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Po_Number_is_not_Null_or_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Newest_Cart.PoNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Newest_Cart.PoNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Buyer_Record</targetReference>
            </connector>
            <label>Po Number is not Null or 0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that all conditions are met to close the cart</description>
        <name>Should_Close_Cart</name>
        <label>Should Close Cart</label>
        <locationX>398</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Summary_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Close_Cart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shouldArchiveCheckoutAndCloseCart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Newest_Cart.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkout</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Checkout_Session_State</targetReference>
            </connector>
            <label>Do Close Cart</label>
        </rules>
    </decisions>
    <interviewLabel>Manildra Order Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manildra Order Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordLookups>
        <name>Get_Account_Buyer_Record</name>
        <label>Get Account Buyer Record</label>
        <locationX>764</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cart_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.Order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuyerAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newest_Cart</name>
        <label>Get Newest Cart</label>
        <locationX>150</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Close_Cart</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary_ID</name>
        <label>Get Order Summary ID</label>
        <locationX>650</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.OrderId</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputAssignments>
            <assignToReference>orderSummaryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Close_Cart</name>
        <label>Close Cart</label>
        <locationX>650</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Get_Order_Summary_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Checkout</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Buyer</name>
        <label>Update Account Buyer</label>
        <locationX>1129</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Order_Confirmation_Page</targetReference>
        </connector>
        <inputReference>Get_Account_Buyer_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Order_Confirmation_Page</name>
        <label>Order_Confirmation</label>
        <locationX>1130</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectComponent</name>
            <extensionName>forceCommunity:flowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>orderconfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>orderSummaryId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Get_Newest_Cart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>275</locationX>
        <locationY>750</locationY>
        <flowName>sfdc_checkout__Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mainCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shouldArchiveCheckoutAndCloseCart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
