force-app/main/default/flows/Manildra_Deliver_Method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Finds the buyer&apos;s cart delivery groups and updates the associated Delivery Group IDs.</description>
        <name>Set_Checkout_Delivery_Method</name>
        <label>Set Checkout Delivery Method</label>
        <locationX>800</locationX>
        <locationY>500</locationY>
        <actionName>setCheckoutDeliveryMethod</actionName>
        <actionType>setCheckoutDeliveryMethod</actionType>
        <connector>
            <targetReference>Set_State</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryMethodId</name>
            <value>
                <elementReference>orderDeliveryMethodId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Delivery_Method</name>
        <label>Assign Delivery Method</label>
        <locationX>149</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>orderDeliveryMethodId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Checkout_Delivery_Method</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Checkout_State</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Delivery_Method_If_Changed</name>
        <label>Update Delivery Method If Changed</label>
        <locationX>652</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Set_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery Method Unchanged</defaultConnectorLabel>
        <rules>
            <name>Delivery_Method_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderDeliveryMethodId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderDeliveryMethodId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Checkout_Delivery_Method</targetReference>
            </connector>
            <label>Delivery Method Changed</label>
        </rules>
    </decisions>
    <interviewLabel>Manildra Deliver Method {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manildra Deliver Method</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Assign_Delivery_Method</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow sets the next state field of the current checkout session object.</description>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>950</locationX>
        <locationY>250</locationY>
        <flowName>sfdc_checkout__UpdateCheckoutState</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Shows the Buyer errors that have occurred.</description>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>800</locationX>
        <locationY>750</locationY>
        <flowName>sfdc_checkout__Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Validate_Checkout_State</name>
        <label>Validate Checkout State</label>
        <locationX>400</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Update_Delivery_Method_If_Changed</targetReference>
        </connector>
        <flowName>sfdc_checkout__CheckoutSession</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Order Delivery Method Id that the user selected from the Delivery Method component.</description>
        <name>orderDeliveryMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
