force-app/main/default/flows/Order_Confirmation_Email_Alert_to_Related_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email to Contacts</description>
        <name>Send_Order_Confirmation_Email_0</name>
        <label>Send Order Confirmation Email</label>
        <locationX>308</locationX>
        <locationY>1310</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OrderConfirmationEmailAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailAddressCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Manildra Order Confirmation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Related_Contact_Email_Address</name>
        <label>Assign Related Contact Email Address</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>EmailAddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Contacts_0.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Contacts_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Collection</name>
        <label>Decision Collection</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Send_Order_Confirmation_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_EmailAddressColection_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAddressCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>If EmailAddressColection is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Confirmation_Contact</name>
        <label>If Order Confirmation Contact</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Related_Contacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmation_Order_is_Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOrderConfirmationContactRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Contact_Email_Address</targetReference>
            </connector>
            <label>Confirmation Order is Included</label>
        </rules>
    </decisions>
    <description>Sends an Email to All who&apos;s Role is: Order Confirmation.</description>
    <formulas>
        <name>IsOrderConfirmationContactRole</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES( {!Loop_Related_Contacts_0.Roles}, &quot;Order Confirmation&quot; )</expression>
    </formulas>
    <interviewLabel>Order Confirmation Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Confirmation Email Alert to Related Contacts</label>
    <loops>
        <name>Loop_Related_Contacts_0</name>
        <label>Loop Related Contacts</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Order_Confirmation_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Shipping Address from Order Delivery Group Summary</description>
        <name>Get</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeliverToStreet</queriedFields>
        <queriedFields>DeliverToCity</queriedFields>
        <queriedFields>DeliverToState</queriedFields>
        <queriedFields>DeliverToPostalCode</queriedFields>
        <queriedFields>DeliverToCountry</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary_Record</name>
        <label>Get Order Summary Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OrderConfirmationEmailAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Get_Order_Summary_Record.Owner:User.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Good news, we got your order!&lt;/p&gt;&lt;p&gt;Order Number: {!Get_Order_Summary_Record.OrderNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here are your order details:&lt;/p&gt;&lt;p&gt;Order Shipping Address: {!Get.DeliverToStreet}, {!Get.DeliverToCity} {!Get.DeliverToState}, {!Get.DeliverToPostalCode} {!Get.DeliverToCountry}&lt;/p&gt;&lt;p&gt;SubTotal: ${!Get_Order_Summary_Record.TotalAdjustedProductAmount}&lt;/p&gt;&lt;p&gt;Shipping: ${!Get_Order_Summary_Record.TotalAdjustedDeliveryAmount}&lt;/p&gt;&lt;p&gt;Tax: ${!Get_Order_Summary_Record.TotalTaxAmount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click the link below to track your order status.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dev-manildragroup.cs5.force.com/s/OrderSummary/{!Get_Order_Summary_Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://dev-manildragroup.cs5.force.com/s/OrderSummary/{!Get_Order_Summary_Record.Id}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Manildra Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailAddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
